<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/admin/assets/js/bootstrap.bundle.min.js"></script>
<script src="/admin/assets/js/sidebar-menu.js"></script>
<script src="/admin/assets/js/dragdrop.js"></script>
<script src="/admin/assets/js/rangeslider.min.js"></script>
<script src="/admin/assets/js/sweetalert.js"></script>
<script src="/admin/assets/js/quill.min.js"></script>
<script src="/admin/assets/js/data-table.js"></script>
<script src="/admin/assets/js/prism.js"></script>
<script src="/admin/assets/js/clipboard.min.js"></script>
<script src="/admin/assets/js/feather.min.js"></script>
<script src="/admin/assets/js/simplebar.min.js"></script>
<script src="/admin/assets/js/apexcharts.min.js"></script>
<script src="/admin/assets/js/amcharts.js"></script>
<script src="/admin/assets/js/custom/ecommerce-chart.js"></script>
<script src="/admin/assets/js/custom/custom.js"></script>
</body>

</html>