<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello: <%= email %>
            </h1>
            <button><a href="/logout">Logout</a></button>
        </div>
    </div>
</div>
</div>
</div>